#topleft {
	font-style: italic;
	margin-top: 5%;
	font-size: 50px;
}
.top{
	margin-right: 20%;
	margin-left: 20%;
}
#firstbar {
	display: inline-block;
	font-size: 20px;
	margin-right: 5%;
	margin-left: 5%;

}
#intro{
	font-size: 24px;
	margin-left: 30%;
}
#dots{
	text-align: center;
	font-size: 40px;
}
