<div ng-controller="ValidatorCtrl">
<a href="#/phonebook">Phone Book</a>
<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div ng-init="nameError=null">{{nameError}}</div>
			<div ng-init="phoneError=null">{{phoneError}}</div>
			<div ng-init="emailError=null">{{emailError}}</div>
			<div ng-init="pass1Error=null">{{pass1Error}}</div>
			<div ng-init="pass2Error=null">{{pass2Error}}</div>
		</div>
</div>
<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<form>
				<input type="text" ng-model="name" placeholder="Name">
				<br>
				<input type="text" ng-model="phone" placeholder="Phone Number">
				<br>
				<input type="text" ng-model="email" placeholder="Email">
				<br>
				<input type="password" ng-model="password1" placeholder="Password">
				<br>
				<input type="password" ng-model="password2" placeholder="Re-enter Password">

			</form>
			<button ng-click="clickcheck()">Submit</button>
		</div>
</div>
</div>
